include README.md
include LICENCE
recursive-include simple_notifications/migrations *.py
recursive-include simple_notifications/templates *.txt
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
